

header
  .container 
    .navbar 
     .logo 
      h4= title 
     ul 
      li:a(href='') Home
      li:a(href='') Home
      li:a(href='') Home
     buton.primaryBtn(type='button') Schedule a Demo